* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.plot{
    max-width: 1250PX;

}

body{
    background: rgb(215, 228, 252);
}

form{
    width: 400px;
    height: 520px;
    box-shadow: 0 0 10px 1px  gray;
}

.centercalcy{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app_name{
    width: inherit;
    font-size: 0.8rem;
    padding: 2px 0 2px 10px;
    background-color: #303030;
    color: white;
    border: none;
    outline: none;
}

#display_answer{
    width: inherit;
    height: 100px;
    background-color: #303030;
    font-size: 2rem;
    color: white;
    text-align: right;
    outline: none;
    border: none;
}

.layer1{
    width: inherit;
    height: 90px;
    display: flex;
    justify-content: center;
}

.layer2{
    width: inherit;
    height: 40px;
    display: flex;
    justify-content: center;
}

input{
    flex: 1;
    font-size: 1.4rem;
    color: white;
    border: 1px solid #504f4f;
    outline: none;
}

.main_num{
    background-color: #101011;
    color: white;
}

.oper{
    background-color: #303030;
}

#clearbutton{
    font-size: 1rem;
}


input:hover{
    background-color: #474747;
    border: 1px solid grey;
}
